{% extends 'base.html' %}

{% block content %}
<ul class="section_list">
    <li class="section_item">
        <!-- url_for('database.populate_participant') -->
        <a href="#" class="section_link">Populate Participants (Link Disabled)</a>
    </li>
    <li class="section_item">
        <!-- url_for('database.populate_influencer') -->
        <a href="" class="section_link">Populate Influencers (Link Disabled)</a>
    </li>
    <li class="section_item">
        <!-- url_for('database.populate_trial') -->
        <a href="#" class="section_link">Populate Trials (Link Disabled)</a>
    </li>
    <li class="section_item">
        <!-- url_for('database.populate_gauntlet') -->
        <a href="#" class="section_link">Populate Gauntlets (Link Disabled)</a>
    </li>
    <li class="section_item">
        <!-- url_for('database.populate_event') -->
        <a href="#" class="section_link">Populate Events (Link Disabled)</a>
    </li>
    <li class="section_item">
        <!-- url_for('database.arbitrary') -->
        <a href="#" class="section_link">Arbitrary (Link Disabled)</a>
    </li>
</ul>
{% endblock content %}